[submodule "obliv-c"]
	path = depends/obliv-c
	url = https://github.com/samee/obliv-c
[submodule "labhe"]
	path = depends/labhe
	url = https://github.com/haslab/labhe.git
[submodule "cxxopts"]
	path = depends/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "json"]
	path = depends/json
	url = https://github.com/ArthurSonzogni/nlohmann_json_cmake_fetchcontent.git
