[submodule "obliv-c"]
	path = obliv-c
	url = https://github.com/samee/obliv-c
[submodule "labhe"]
	path = labhe
	url = https://github.com/haslab/labhe.git
[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts.git
